@charset 'UTF-8';

/*
  Footer
----------------------------------------------------- */

.p-footer {
  height: 100%;
  clip-path: polygon(0 calc(100vw / 5.37), 100% 0, 100% 100%, 0 100%);
  background-color: $main-color;

  &__copyright {
    height: 100%;
    padding: .5rem 1rem;
  }
}
