@charset 'UTF-8';

/*
  Header
----------------------------------------------------- */

.p-header {
  position: relative;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - calc(100vw / 5.37)), 0 100%);
  background-color: $main-color;

  @include mq(wide) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  &__container {
    @include mq(tab) {
      align-items: flex-start;
    }
  }

  &__hero {
    margin-top: -10vw;

    @include mq(tab) {
      margin-top: -12vw;
    }

    @include mq(wide) {
      margin-top: 0;
    }
  }

  &__title {
    width: 200px;
    max-width: 75%;
    margin-bottom: .5rem;
    line-height: 4rem;
    text-align: center;
  }

  &__copy {
    font-size: .8rem;
    font-weight: bold;

    @include mq(tab) {
      font-size: 1rem;
    }
  }

  &__sns {
    position: absolute;
    top: 1rem;
    left: .5rem;

    @include mq(tab) {
      left: 0;
    }
  }
}
