@charset 'UTF-8';
/*
  Header
-----------------------------------------------------*/

.p-header {
  position: relative;
  height: 100%;

  &__title {
    margin: 0 auto;
    width: 240px;
    height: 100%;
    text-align: center;
    line-height: 4rem;
  }
}
