@charset 'UTF-8';

/*
  Post Title
----------------------------------------------------- */

.p-postTitle {
  &__link {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    font-weight: 700;
    text-overflow: ellipsis;
  }
}
