@charset 'UTF-8';

/*
  Post
----------------------------------------------------- */

.p-post {
  &__figure {
    position: relative;
    display: block;
    margin-bottom: .5rem;
    transition: .5s all ease-out 0s;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      margin-top: .5rem;
      clip-path: polygon(70% 100%, 100% 90%, 100% 100%);
      content: "";
      background-color: $text-area-color;
      transition: .5s all ease-out 0s;
    }
  }

  &__image {
    max-width: 100%;
    clip-path: polygon(30% 0, 100% 0, 100% 90%, 70% 100%, 0 100%, 0 10%);
    transition: .5s all ease-out 0s;

    &:hover {
      // filter: blur(2px);
      filter: grayscale(40%);
      transition: .5s all ease-out 0s;
    }
  }

  &__text {
    padding: 1rem .5rem .5rem;
    margin-top: -1px;
    background-color: $text-area-color;
    transition: .5s all ease-out 0s;
  }

  &__title {
    height: 4em;
    padding-bottom: 1rem;
  }

  &__date {
    align-self: center;

    &.-slug {
      color: $primary-text-color;
    }
  }

  &:hover {
    .p-post__figure {
      transform: translateY(.25rem);

      &::after {
        transform: translateY(-.5rem);
      }
    }

    .p-post__text {
      transform: translateY(-.25rem);
    }
  }
}
