@charset 'UTF-8';

/*
  Posts
----------------------------------------------------- */

.p-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 64px 32px;
  max-width: 100%;

  @include mq(tab) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  @include mq(lap) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }

  &__item {
    max-width: 100%;
  }
}
