@charset 'UTF-8';
/*
  Post Title
-----------------------------------------------------*/

.p-postTitle {
  &__link {
    display: inline;
    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    font-weight: 700;
  }
}
