@charset 'UTF-8';
/*
  Return Top
-----------------------------------------------------*/

.p-returnTop {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  border-radius: 50%;
  background-color: $main-color;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(tab) {
    right: 32px;
    bottom: 32px;
  }

  &__icon {
    font-size: 2rem;
  }
}
