@charset 'UTF-8';
/*
  Slug Format
-----------------------------------------------------*/

.p-slugFormat {
  h2 {
    margin: 3em 0 .5em;
    padding-bottom: .25em 0;
    border-bottom: solid 3px $main-color;
    font-weight: bold;
    font-size: 2rem;
  }

  h3 {
    margin: 2em 0 .5em;
    padding-left: .5em;
    border-left: solid 5px $main-color;
    font-weight: bold;
    font-size: 1.5rem;
  }

  h4 {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 1.25rem;
  }

  p {
    line-height: 2em;
  }
}
