@charset 'UTF-8';
/*
  Slug Format
-----------------------------------------------------*/

.p-slugFormat {
  word-break: break-all;

  h2 {
    margin: 1.5em 0 0.5em;
    padding-bottom: 0.25em 0;
    border-bottom: solid 3px $main-color;
    font-weight: bold;
    font-size: 1.5rem;

    @include mq(tab) {
      margin-top: 2em;
      font-size: 2rem;
    }
  }

  h3 {
    margin: 1.5em 0 0.5em;
    padding-left: 0.5em;
    border-left: solid 5px $main-color;
    font-weight: bold;
    font-size: 1.25rem;

    @include mq(tab) {
      margin-top: 2em;
      font-size: 1.5rem;
    }
  }

  h4 {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 1.125rem;

    @include mq(tab) {
      font-size: 1.25rem;
    }
  }

  h5 {
    margin: 0.5em 0 0;
    font-weight: bold;
  }

  p {
    margin-bottom: 1em;
    line-height: 2em;
  }

  ul,
  ol,
  pre {
    margin-bottom: 1em;
  }

  li {
    line-height: 2em;
  }

  ul {
    li {
      &::before {
        display: inline-block;
        margin: 0 8px 4px 0;
        width: 0.8em;
        height: 0.2em;
        background: $main-color;
        content: "";
        vertical-align: middle;
      }
    }
  }

  ol {
    list-style-type: decimal;
    li {
      margin-left: 1em;
      padding-left: 0.25em;
    }
  }

  strong {
    font-weight: bold;
  }

  pre {
    padding: 1em;
    background-color: $code-block-color;
  }

  pre[class*="language-"] {
    margin: 1em 0;
  }

  code {
    color: #fff;
  }

  a {
    display: inline;
    color: $main-color;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: $visited-text-color;
    }
  }

  .table-of-contents {
    margin: 2rem 0;
    padding: 1rem;
    border: 3px solid $main-color;
    background-color: $toc-area-color;

    &__header {
      margin-bottom: 1em;
      border-bottom: 1px solid $main-color;
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 2em;

      @include mq(tab) {
        font-size: 1.5rem;
      }
    }

    ol {
      list-style-type: decimal;

      li > ol {
        margin-bottom: 0;
      }
    }

    a {
      color: $primary-text-color;

      &:visited {
        color: $primary-text-color;
      }
    }
  }
}
