@charset 'UTF-8';
//====================================
//  Flex Centering
//====================================

.u-flexCentering {
  display: flex;

  justify-content: center;
  align-items: center;
}
