@charset 'UTF-8';
//====================================
//  Flex Centering
//====================================

.u-flexCentering {
  display: flex;

  &.-tb {
    align-items: center;
  }

  &.-lr {
    justify-content: center;
  }

  &.-fd {
    justify-content: center;
    align-items: center;
  }
}
